mat-form-field {
  width: 100%;
}
mat-card-actions {
  display: flex;
  justify-content: center;
}
mat-card-footer {
  display: flex;
  justify-content: center;
}
.button-row {
  display: table-cell;
  width: 490px;
  margin: 8px 8px 8px 0;
}
