<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Wday3</span>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="Salir()">
        <mat-icon>exit_to_app</mat-icon>
        <span>{{ 'NAV.btnSalir' | translate }}</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
