  <form [formGroup]="register" (ngSubmit)="onSubmit()">
    <mat-error *ngIf="ErrorRegistrar">{{ 'FORMREGISTER.errorLogin' | translate }}</mat-error>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>{{ 'FORMREGISTER.lblusuario' | translate }}</mat-label>
        <input type="text" matInput name="" id="" formControlName="usuario">
        <mat-error *ngIf="usuarioInvalid">{{ getMensajeErrorUsuario() | translate }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{ 'FORMREGISTER.lblContrasenia' | translate }}</mat-label>
        <input type="password" matInput name="" id="" formControlName="password">
        <mat-error *ngIf="passwordInvalid">{{ getMensajeErrorPassword() | translate }}</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="accent" [disabled]="!register.valid">
        {{ 'FORMREGISTER.btnRegistrate' | translate }}
        <!-- <mat-spinner mode="indeterminate" [color]="color" diameter="20"></mat-spinner> -->
      </button>
    </mat-card-actions>
  </form>

